@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-blue: hsl(212, 86%, 64%);
  --color-orange: hsl(34, 97%, 64%);
  --text-size-1: clamp(1.5rem, 5vw, 2.25rem); /* min: 24px, max: 36px */
  --text-size-2: 1.25rem; /* 20px */
  --text-size-3: 0.9375rem; /* 15px */
  --text-size-4: 0.8125rem; /* 13px */
  --semibold: 600;
  --regular: 400;
  --extra-light: 200;
  --spacing-500: 2.5rem; /* 40px */
  --spacing-400: 2rem; /* 32px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-200: 1rem; /* 16px */
  --spacing-100: 0.5rem; /* 8px */
}

/* Colors */
.color-grey-500 {
  color: var(--color-grey-500);
}
.color-grey-400 {
  color: var(--color-grey-400);
}
.color-red {
  color: var(--color-red);
}
.color-cyan {
  color: var(--color-cyan);
}
.color-blue {
  color: var(--color-blue);
}
.color-orange {
  color: var(--color-orange);
}
.border-red {
  border-top: 4px solid var(--color-red);
  border-radius: 0.5rem 0.5rem 0 0; /* 8px on top corners only */
}

.border-cyan {
  border-top: 4px solid var(--color-cyan);
  border-radius: 0.5rem 0.5rem 0 0; /* 8px on top corners only */
}

.border-blue {
  border-top: 4px solid var(--color-blue);
  border-radius: 0.5rem 0.5rem 0 0; /* 8px on top corners only */
}

.border-orange {
  border-top: 4px solid var(--color-orange);
  border-radius: 0.5rem 0.5rem 0 0; /* 8px on top corners only */
}

/* Text Presets */
.text-preset-1 {
  font-family: "Poppins", sans-serif;
  font-weight: var(--semibold);
  font-style: normal;
  font-size: var(--text-size-1);
  line-height: 1.4;
  letter-spacing: 0.25px;
}
.text-preset-2 {
  font-family: "Poppins", sans-serif;
  font-weight: var(--extra-light);
  font-style: normal;
  font-size: var(--text-size-1);
  line-height: 1.4;
  letter-spacing: 0.25px;
}

.text-preset-3 {
  font-family: "Poppins", sans-serif;
  font-weight: var(--semibold);
  font-style: normal;
  font-size: var(--text-size-2);
  line-height: 1.35;
  letter-spacing: 0;
}
.text-preset-4 {
  font-family: "Poppins", sans-serif;
  font-weight: var(--regular);
  font-style: normal;
  font-size: var(--text-size-3);
  line-height: 1.4;
  letter-spacing: 0;
}
.text-preset-5 {
  font-family: "Poppins", sans-serif;
  font-weight: var(--regular);
  font-style: normal;
  font-size: var(--text-size-4);
  line-height: 1.6;
  letter-spacing: 0;
}

/* Rules */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  gap: 3.75rem;
  background-color: #fafafa;
  padding: 2rem 0; /* 32px to 2rem */
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 19.75rem; /* 316px */
  gap: var(--spacing-200);
  text-align: center;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 314px;
  gap: var(--spacing-400);
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-400);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--spacing-400);
  width: 314px;
  padding: var(--spacing-400);
  box-shadow: 0 0.9375rem 1.875rem -0.6875rem hsla(212, 45%, 67%, 0.5);
}
.content img {
  align-self: flex-end;
}
.content-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.375rem; /* 6px to 0.375rem */
}

@media screen and (min-width: 48rem) {
  /* 768px */
  .title-wrapper {
    width: 33.75rem; /* 540px */
  }
  .cards {
    width: 660px;
  }
  .content-wrapper {
    flex-direction: row;
  }
  .content {
    width: 350px;
  }
}
@media screen and (min-width: 1440px) {
  .cards {
    width: 1114px;
  }
}

/* Attribution */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-400);
  width: 100%;
  padding: var(--spacing-400);
  background-color: #fafafa;
}
.attribution {
  font-size: 0.6875rem; /* 11px */
  text-align: center;
}
.attribution a {
  color: var(--color-blue);
  text-decoration: none;
}
